@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,700&display=swap');

*{
    background: #e7faec;
}
.logo{
    font-family: 'Merriweather', serif;
    padding: 10px 0 0 10px;
    font-size: 60px;
    color: #0a7143;
}
main{
    display: flex;
    margin: 0 0 10px 180px;
}

.text-area{
    resize: none;
    height: 400px;
    border: none;
    background: none;
    text-transform: lowercase;
    color: #0a7143;
}
::placeholder{color: #0a7143;}
    .text-area:focus{
        outline: none;
    }

.mensaje{
    resize: none;
    margin: 20px 0 0 100px;
    height: 400px;
    border-radius: 10px;
    border: none;
    background: rgba(255,255,255,0.8) ;
}
.mensaje:focus{
    outline: none;
}

.btn{
    padding: 2px 10px 2px 10px;
    font-size: 16px;
    border-radius: 10px;
    font-family: 'Merriweather', serif;
    
}

.btn.encriptar{
    color: #98f6cc;
    background-color: #085f38;
    
}
.btn.desencriptar{
    color: #085f38;
    background-color: #98f6cc;
   
}
.btn.copiar{
    color: #98f6cc;
    background-color: rgba(255,255,255,0.8);
}